<app-nav></app-nav>
<div class="Contact-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>About Us</h2>
          <div class="Home">
            <ul>
              <li> <a href="">Home</a></li>
              <li>></li>
              <li> About Us</li>

            </ul>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
<section class="section-e8">
  <div class="container">
    <div class="boder">
      <div class="row ">
        <div class="col-3">
          <div class="ltn__feature-item">
            <div class="ltn__feature-icon">
              <img src="	https://tunatheme.com/tf/html/fiama-preview/fiama/img/icons/svg/8-trolley.svg" alt="">
            </div>
            <div class="ltn__feature-info">
              <h4>Free shipping</h4>
              <p>On all orders over $49.00</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="ltn__feature-item">
            <div class="ltn__feature-icon">
              <img src="	https://tunatheme.com/tf/html/fiama-preview/fiama/img/icons/svg/9-money.svg" alt="">
            </div>
            <div class="ltn__feature-info">
              <h4>15 days returns</h4>
              <p>Moneyback guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="ltn__feature-item">
            <div class="ltn__feature-icon">
              <img src="		https://tunatheme.com/tf/html/fiama-preview/fiama/img/icons/svg/10-credit-card.svg " alt=>
            </div>
            <div class="ltn__feature-info">
              <h4>Secure checkout</h4>
              <p>Protected by Paypal</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="ltn__feature-item">
            <div class="ltn__feature-icon">
              <img src="	https://tunatheme.com/tf/html/fiama-preview/fiama/img/icons/svg/11-gift-card.svg" alt="">
            </div>
            <div class="ltn__feature-info">
              <h4>Offer & gift here</h4>
              <p>On all orders over</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-e9">
  <div class="container">
    <div class="about-us-info-wrap">
      <h2>We connect buyers and sellers with suitable, eco-friendly products</h2>
      <p>Nothing adds more beauty and comfort to our homes and offices than the lush flowers and foliage of indoor plants. Bedrooms, bathrooms, kitchens, cubicles… There really isn’t a space a houseplant can’t enliven. Just add light and water, and you’ve got a growing indoor oasis. Bringing plants into your home is aesthetically pleasing and – amazingly – plants can offer strong health benefits as well! </p>
    </div>
    <div class="video">
      <iframe width="100%" height="500px" src="https://www.youtube.com/embed/J6oDTn_ENto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</section>
<section class="section-e10">
  <div class="container">
    <div class="section-title-area">
      <h1 class="section-title">client says</h1>
    </div>
  </div>
</section>
<section class="section-e11">
  <div class="container">
    <div class="ltn__banner-item">
      <div class="ltn__banner-img">
        <a href="">
          <img src="assets/img/10.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section-e12">
  <div class="container">
    <div class="section-title-area">
      <h1 class="section-title">latest news</h1>
    </div>
    <owl-carousel-o [options]="customOptions3">
      <ng-template carouselSlide>
        <div class="wrap-abous">
          <div class="abous-img">
            <a href=""><img src="assets/img/img_2.png" alt=""></a>
          </div>
          <div class="ltn__blog-brief">
           <ul>
             <li><span> Nov 18, 2020</span></li>
             <li>
               <a href=""><i class="bi bi-card-text"></i>2</a>
             </li>
           </ul>
            <h3 class="line">Plant selection and care can help a garden endure extreme heat  </h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="wrap-abous">
          <div class="abous-img">
            <a href=""><img src="assets/img/img_3.png" alt=""></a>
          </div>
          <div class="ltn__blog-brief">
            <ul>
              <li><span> Nov 18, 2020</span></li>
              <li>
                <a href=""><i class="bi bi-card-text"></i>2</a>
              </li>
            </ul>
            <h3 class="line">How to be water wise in your garden this  summer  </h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="wrap-abous">
          <div class="abous-img">
            <a href=""><img src="assets/img/img_4.png" alt=""></a>
          </div>
          <div class="ltn__blog-brief">
            <ul>
              <li><span> Nov 18, 2020</span></li>
              <li>
                <a href=""><i class="bi bi-card-text"></i>2</a>
              </li>
            </ul>
            <h3 class="line">How you're watering the garden can help save   </h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="wrap-abous">
          <div class="abous-img">
            <a href=""><img src="assets/img/img_5.png" alt=""></a>
          </div>
          <div class="ltn__blog-brief">
            <ul>
              <li><span> Nov 18, 2020</span></li>
              <li>
                <a href=""><i class="bi bi-card-text"></i>2</a>
              </li>
            </ul>
            <h3 class="line">The fastest-evolving moss in the world may not adapt to climate change  </h3>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="wrap-abous">
          <div class="abous-img">
            <a href=""><img src="assets/img/img_6.png" alt=""></a>
          </div>
          <div class="ltn__blog-brief">
            <ul>
              <li><span> Nov 18, 2020</span></li>
              <li>
                <a href=""><i class="bi bi-card-text"></i>2</a>
              </li>
            </ul>
            <h3 class="line">Stressed plants make ultrasonic clicking noises  </h3>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>
</section>
<section class="section-e7">
  <div class="container-fluid">
    <div class="wp-slider">


      <owl-carousel-o [options]="customOptions4">
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo1.png" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo2.png" alt="">
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo3.png" alt="">
            </div>
          </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo4.png" alt="">
            </div>
          </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo5.png" alt="">
            </div>
          </div>

        </ng-template>
        <ng-template carouselSlide>
          <div class="slick-cloned">
            <div class="item">
              <img src="assets/img/brand-logo1.png" alt="">
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

    </div>

  </div>
</section>
<app-footer></app-footer>
