<section class="section-cart">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="head-cart">
          <h1>
            Checkout
          </h1>
          <div class="menu-cart">
            <ul>
              <li><a href="">Home</a></li>
              <li>
                >
              </li>
              <li> Checkout</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ltn__checkout-inner">
          <div class="ltn__checkout-single-content">
            <h4 class="title2">
              Billing Details
            </h4>
            <div class="ltn__checkout-single-content-info">
              <form>
                <h6>Personal Information</h6>
                <div class="row">
                  <div class="col-6">
                    <div style="text-align: left" class="input-item ">
                      <input type="text" name="name" placeholder="Name" value="" fdprocessedid="yivj7i">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-item ">
                      <input type="text" name="name" placeholder="email address" value="" fdprocessedid="yivj7i">
                    </div>

                  </div>
                  <div class="col-6">
                    <div style="text-align: left" class="input-item ">
                      <input type="text" name="name" placeholder="phone number" value="" fdprocessedid="yivj7i">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h6>Address</h6>
                    <div class="row">
                      <div class="col-6">
                        <div class="input-item ">
                          <input type="text" name="name" placeholder="Enter Address" value="" fdprocessedid="yivj7i">
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
                <div class="box-button">
                  <button class="btn text-uppercase" type="submit" fdprocessedid="7ambf">Place order</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-oder">
  <div class="container">
  <div class="shoping-cart-total">
    <h4 class="title3">Cart Totals</h4>
    <table class="table">
      <tbody>
      <tr>
        <td>Vat</td>
        <td>$00.00</td>
      </tr>
      <tr>
        <td>
          <strong>Order Total</strong>
        </td>
        <td>
          <strong>$39</strong>
        </td>
      </tr>

      </tbody>
    </table>

  </div>
  </div>
</section>
